<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Day</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Add day</h1>

      <form action="/days" method="POST" class="create-form">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name" required />

        <label for="description">Description:</label>
        <textarea
          name="description"
          id="description"
          rows="3"
          required
        ></textarea>

        <label for="image">Image URL:</label>
        <input type="text" name="image" id="image" />

        <button type="submit" class="add-button">Add Day</button>
      </form>

      <a href="/days/" class="back-link">← Back to Days</a>
    </div>
  </body>
</html>
