<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tripp: Travel Planner</title>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600&family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css" />
    
  </head>
  <body class="vertical landing">
    <div class="container" id="landing-container"> 
      <img src="/assets/placeholder.svg" class="logo" alt="trip logo" />
      <h1>Welcome to Tripp!</h1>
      <p class="subtitle">Log Your Journeys Across the World!</p>
      <form action="/trips" method="GET">
        <button type="submit" class="get-started-button">Get Started!</button>
      </form>
    </div>
  </body>
</html>
